@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-zalando: "Zalando Sans Expanded", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.hr-orange {
    @apply w-full bg-orange-500 border-0 h-px my-2;
}

.btn-orange-full {
    @apply bg-orange-500 text-white p-2 w-full rounded-md active:bg-orange-700 cursor-pointer;
}

.btn-orange-qtr {
    @apply bg-orange-500 text-white p-2 w-1/4 rounded-lg active:bg-orange-700 cursor-pointer;
}